# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Python Tools
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Build / Distribution
# =========================

build/
dist/
*.egg-info/

# =========================
# Secrets / Keys
# =========================

*.pem
*.key